@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

/*===========================
  COMMON css
===========================*/
:root {
    --font-family: "Inter", sans-serif;
    --primary: #520103;
    --primary-dark: #520103;
    --primary-light: #e2f1ff;
    --accent: #00d4d7;
    --accent-dark: #00bac1;
    --accent-light: #dff9f8;
    --success: #13d527;
    --success-dark: #00ae11;
    --success-light: #eafbe7;
    --secondary: #8f15d5;
    --secondary-dark: #6013c7;
    --secondary-light: #f4e5fa;
    --info: #15b2d5;
    --info-dark: #0f8ca8;
    --info-light: #e0f5fa;
    --caution: #dbbb25;
    --caution-dark: #d58f15;
    --caution-light: #fbf9e4;
    --error: #e6185e;
    --error-dark: #bf1257;
    --error-light: #fce4eb;
    --black: #1d1d1d;
    --dark-1: #2d2d2d;
    --dark-2: #4d4d4d;
    --dark-3: #6d6d6d;
    --gray-1: #8d8d8d;
    --gray-2: #adadad;
    --gray-3: #cdcdcd;
    --gray-4: #e0e0e0;
    --light-1: #efefef;
    --light-2: #f5f5f5;
    --light-3: #fafafa;
    --white: #ffffff;
    --gradient-1: linear-gradient(180deg, #155bd5 0%, #1c3ab6 100%);
    --gradient-2: linear-gradient(180deg, #155bd5 13.02%, #00d4d7 85.42%);
    --gradient-3: linear-gradient(180deg, #155bd5 0%, #8f15d5 100%);
    --gradient-4: linear-gradient(180deg, #155bd5 0%, #13d527 100%);
    --gradient-5: linear-gradient(180deg, #155bd5 0%, #15bbd5 100%);
    --gradient-6: linear-gradient(180deg, #155bd5 0%, #dbbb25 100%);
    --gradient-7: linear-gradient(180deg, #155bd5 0%, #e6185e 100%);
    --gradient-8: linear-gradient(180deg, #1c3ab6 0%, #00bac1 100%);
    --gradient-9: linear-gradient(180deg, #00d4d7 13.02%, #155bd5 85.42%);
    --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
    --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
    --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
}

body {
    font-family: var(--font-family);
    color: var(--black);
    font-size: 16px;
}

@media (max-width: 991px) {
    body {
        font-size: 14px;
    }
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

a,
button,
a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--black);
    margin: 0px;
}

h1,
.h1 {
    font-size: 2.75em;
    line-height: 1.25;
}

h2,
.h2 {
    font-size: 2.25em;
    line-height: 1.25;
}

h3,
.h3 {
    font-size: 1.75em;
    line-height: 1.25;
}

h4,
.h4 {
    font-size: 1.2em;
    line-height: 1.25;
}

h5,
.h5 {
    font-size: 1.25em;
    line-height: 1.25;
}

h6,
.h6 {
    font-size: 0.875em;
    line-height: 1.25;
}

.display-1 {
    font-size: 5.5em;
    line-height: 1.25;
}

.display-2 {
    font-size: 4.75em;
    line-height: 1.25;
}

.display-3 {
    font-size: 4em;
    line-height: 1.25;
}

.display-4 {
    font-size: 3.25em;
    line-height: 1.25;
}

p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-3);
    margin: 0px;
}

.text-small {
    font-size: 0.875em;
    line-height: 1.5;
}

.text-lg {
    font-size: 1.15em;
    line-height: 1.5;
}

.bg_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.btn:hover {
    color: inherit;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

.btn.btn-lg {
    font-size: 1.15em;
    padding: 16px 24px;
}

.btn.btn-sm {
    padding: 8px 16px;
}

.btn.square {
    border-radius: 0px;
}

.btn.semi-rounded {
    border-radius: 12px;
}

.btn.rounded-full {
    border-radius: 50px;
}

.btn.icon-left span,
.btn.icon-left i {
    margin-right: 8px;
}

.btn.icon-right span,
.btn.icon-right i {
    margin-left: 8px;
}

.btn.icon-btn {
    width: 48px;
    height: 48px;
    padding: 0;
    line-height: 48px;
}

.btn.icon-btn.btn-lg {
    width: 56px;
    height: 56px;
    line-height: 56px;
}

.btn.icon-btn.btn-sm {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

/* ===== Buttons Css ===== */
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn {
    background: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow-2);
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .active.primary-btn,
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:hover,
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:focus {
    background: var(--primary-dark);
    color: var(--white);
    box-shadow: var(--shadow-4);
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .deactive.primary-btn {
    background: var(--gray-4);
    color: var(--dark-3);
    pointer-events: none;
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline {
    border-color: var(--primary);
    color: var(--primary);
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .active.primary-btn-outline,
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:hover,
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:focus {
    background: var(--primary-dark);
    color: var(--white);
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .deactive.primary-btn-outline {
    color: var(--dark-3);
    border-color: var(--gray-4);
    pointer-events: none;
}

/*===== SLIDER ONE =====*/
.slider-one .bd-example .carousel .carousel-inner {
    background-color: var(--primary);
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item {
    height: auto;
    padding: 300px 0;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item {
        padding: 200px 0;
    }
}

@media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item {
        padding: 150px 0;
    }
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    opacity: 0.6;
}

@media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item {
        height: 400px;
    }
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    left: 0;
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
    font-size: 44px;
    font-weight: 700;
    color: var(--white);
    line-height: 55px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
        font-size: 35px;
        line-height: 42px;
    }
}

@media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
        font-size: 24px;
        line-height: 32px;
    }
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .text {
    color: var(--white);
    display: block;
    margin: 20px 0;
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
    display: inline-block;
    margin: 16px 8px 0;
}

@media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
        margin: 16px 3px 0;
    }
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid transparent;
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:hover {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline {
    border-color: var(--white);
    color: var(--white);
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:hover {
    border-color: transparent;
    background-color: var(--white);
    color: var(--primary);
}

.slider-one .bd-example .carousel .carousel-control-prev,
.slider-one .bd-example .carousel .carousel-control-next {
    top: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid var(--white);
    font-size: 20px;
    color: var(--white);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    left: 30px;
    opacity: 1;
    z-index: 99;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.slider-one .bd-example .carousel .carousel-control-prev:hover,
.slider-one .bd-example .carousel .carousel-control-next:hover {
    background-color: var(--white);
    color: var(--primary);
    border-color: transparent;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .slider-one .bd-example .carousel .carousel-control-prev,
    .slider-one .bd-example .carousel .carousel-control-next {
        left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .slider-one .bd-example .carousel .carousel-control-prev,
    .slider-one .bd-example .carousel .carousel-control-next {
        left: 30px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {

    .slider-one .bd-example .carousel .carousel-control-prev,
    .slider-one .bd-example .carousel .carousel-control-next {
        left: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.slider-one .bd-example .carousel .carousel-control-next {
    right: 30px;
    left: auto;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-one .bd-example .carousel .carousel-control-next {
        right: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-control-next {
        right: 40px;
    }
}

@media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-control-next {
        right: 20px;
    }
}

.slider-one .bd-example .carousel .carousel-indicators {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-indicators {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-indicators {
        margin-bottom: 30px;
    }
}

.slider-one .bd-example .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 50px;
    border: 0;
    margin: 0px 5px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.slider-one .bd-example .carousel .carousel-indicators li.active {
    width: 20px;
    background-color: var(--white);
    border-radius: 5px;
}

.slider-one .bd-example .carousel .carousel-indicators li:hover {
    opacity: 1;
}

/* ===== Buttons Css ===== */
.features-style-one .primary-btn-outline {
    border-color: var(--primary);
    color: var(--primary);
}

.features-style-one .active.primary-btn-outline,
.features-style-one .primary-btn-outline:hover,
.features-style-one .primary-btn-outline:focus {
    background: var(--primary-dark);
    color: var(--white);
}

.features-style-one .deactive.primary-btn-outline {
    color: var(--dark-3);
    border-color: var(--gray-4);
    pointer-events: none;
}

/*===========================
    Features One CSS
  ===========================*/
.features-one {
    background-color: var(--light-2);
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-one .section-title {
    padding-bottom: 10px;
}

.features-one .title {
    font-size: 44px;
    font-weight: 600;
    color: var(--black);
    line-height: 55px;
}

@media (max-width: 767px) {
    .features-one .title {
        font-size: 30px;
        line-height: 35px;
    }
}

.features-one .text {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    margin-top: 24px;
}

.features-style-one {
    background-color: var(--white);
    padding: 40px 20px;
    margin-top: 40px;
    box-shadow: var(--shadow-2);
    border-radius: 4px;
    transition: all 0.3s;
}

.features-style-one:hover {
    box-shadow: var(--shadow-4);
}

.features-style-one .features-icon {
    position: relative;
    display: inline-block;
    z-index: 1;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: var(--primary);
    border: 2px solid rgba(187, 187, 187, 0.192);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .features-style-one .features-icon {
        height: 70px;
        width: 70px;
        line-height: 70px;
        font-size: 35px;
    }
}

.features-style-one:hover .features-icon {
    border-color: transparent;
    color: var(--white);
    background-color: var(--primary);
}

.features-style-one .features-content {
    margin-top: 24px;
}

.features-style-one .features-title {
    font-size: 20px;
    line-height: 35px;
    font-weight: 600;
    color: var(--black);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
(max-width: 767px) {
    .features-style-one .features-title {
        font-size: 22px;
    }
}

.features-style-one .text {
    color: var(--dark-3);
    margin-top: 16px;
}

.features-style-one .features-btn {
    margin-top: 32px;
}

/* accordion-style-two */
.accordion-style-two .accordion .card {
    margin-top: 8px;
    border: 1px solid var(--gray-4) !important;
    border-radius: 4px;
}

.accordion-style-two .accordion .card .card-header {
    padding: 0;
    background: none;
}

.accordion-style-two .accordion .card .card-header a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    color: var(--white);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 1px solid var(--primary);
    margin: -1px;
    border-radius: 4px;
    padding: 13px 16px;
    z-index: 5;
    background-color: var(--primary);
}

.accordion-style-two .accordion .card .card-header a::before {
    position: absolute;
    content: "\ea5e";
    font-family: lineicons !important;
    right: 16px;
    top: 14px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion-style-two .accordion .card .card-header a.collapsed {
    color: var(--black);
    border-color: var(--gray-4);
    background-color: transparent;
}

.accordion-style-two .accordion .card .card-header a.collapsed::before {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.accordion-style-two .accordion .card .card-body {
    padding: 16px;
}

.accordion-style-two .accordion .card .card-body .text {
    color: var(--dark-3);
}

/* tabs-one */
.tabs-one {
    border: 1px solid var(--gray-4);
}

.tabs-one .nav {
    border-bottom: 1px solid var(--gray-4);
}

@media (max-width: 767px) {
    .tabs-one .nav {
        display: block;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .tabs-one .nav {
        display: flex;
    }
}

.tabs-one .nav .nav-item a {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    font-weight: 700;
    padding: 13px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: block;
}

.tabs-one .nav .nav-item a.active {
    color: var(--white);
    background: var(--primary);
}

.tabs-one .tab-content .tab-text {
    padding: 15px;
}

.tabs-one .tab-content .tab-text .text {
    color: var(--dark-3);
}
